Repository radis/radis, pull requests merged in 2023-08, with the labels that each got.

#599 Fixed Docs + reorganized dependencies
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/todo.yaml
  .readthedocs.yml
  .travis.yml
  MANIFEST.in
  docs/conf.py
  docs/dev/_install.rst
  docs/features/features.rst
  docs/index.rst
  docs/modules.rst
  docs/requirements.txt
  environment.yml
  radis/api/exomolapi.py
  radis/api/hitempapi.py
  radis/api/hitranapi.py
  radis/misc/warning.py
  radis/spectrum/spectrum.py
  radis/test/tools/test_database.py
  radis/tools/database.py
  requirements.txt
  setup.py
Labels: ci-dev, documentation

#580 [Reduced Memory Use] calculating spectrum using vaex corrected
  examples/calculate_spectrum_using_vaex.py
  radis/api/cache_files.py
  radis/api/cdsdapi.py
  radis/api/dbmanager.py
  radis/api/hdf5.py
  radis/api/hitranapi.py
  radis/api/tools.py
  radis/default_radis.json
  radis/io/exomol.py
  radis/io/geisa.py
  radis/io/hitran.py
  radis/io/query.py
  radis/lbl/bands.py
  radis/lbl/base.py
  radis/lbl/broadening.py
  radis/lbl/calc.py
  radis/lbl/factory.py
  radis/lbl/loader.py
  radis/misc/arrays.py
  radis/phys/convert.py
  radis/test/benchmark/vaex_vs_pandas_performance.py
  radis/test/lbl/test_factory.py
  radis/test/lbl/test_loader.py
Labels: performance

#609 removed engine parameter
  radis/lbl/calc.py
  radis/test/lbl/test_gpu.py
  radis/test/misc/test_arrays.py
Labels: interface
